<div class="jumbotron" id="info-main">
    <h2>Bike Rental</h2>
    <br>
    <p>
        No waiting around for busses or getting stuck in traffic on the backseat of a taxi! Ride around Belgrade on one of our comfortable city bikes!
    </p>
</div>

<div class="jumbotron" id="best-service">
    <div class="row">
        <div class="col-sm-6">
            <h2>Conditions:</h2>
            <br>
            <p>         -Bikes can be rented either 8€/per day or 2€/per hour
                -You can return the bike before 19.00 or the next day before 10.00
                -You are responsible for the bike you rent</p>
        </div>
        <div class="col-sm-6">
            <p><img src="images/slika1.jpg"> </p>
        </div>
    </div>
</div>
<hr>
<div class="jumbotron" id="special-off">
    <div class="row">
        <div class="col-sm-6">
            <p><img src="images/slika2.jpg"> </p>
        </div>
        <div class="col-sm-6">
            <h2>Special Offers</h2>
            <br>
            <p>If you rent 7 days, you only pay for 6 days. For the weekends you have a 30% discounts!</p>
        </div>
    </div>
</div>
<hr>
<div class="jumbotron" id="contact-main">
    <div class="row">
        <div class="col-sm-6">
            <h2>About Us</h2>
            <br>
            <p>Renta a bike wants to give people a great time by showing them Belgrade in a fun and informative way. We believe a bike-tour is the best way to experience all sides of Belgrade in one go.
                Although biking is a way of transport which is not used a lot in Belgrade, we developed routes that visit its old parts, its new parts, its nature and its rivers and catch its atmosphere.</p>
        </div>
        <div class="col-sm-6">
            <p><img src="images/logo.jpg"> </p>
        </div>
    </div>
</div>