<div class="row">
    <div class="col-sm-6 col-sm-offset-3" >
        <form role="form" [formGroup]="addForm">
            <div class="form-group">
                <div>
                    <label for="marka">Marka:</label>
                    <select class="form-control" formControlName='marka_id'>
                        <option *ngFor="let marka of marke" [value]="marka.marka_id">{{marka.marka_type}} </option>
                    </select>
                </div>
                <br>
                <div>
                    <label for="model">Model:</label>
                    <select class="form-control" formControlName='model_id' >
                        <option *ngFor="let model of modeli" [value]="model.model_id">{{model.model_type}} </option>
                    </select>
                </div>
                <br>
                <div>
                    <label for="fuel">Kategorija:</label>
                    <select class="form-control" formControlName='kategorija_id'>
                        <option *ngFor="let kategorija of kategorije" [value]="kategorija.kategorija_id">{{kategorija.kategorija_type}} </option>
                    </select>
                </div>
                <br>
                <div>

                    <label for="price">Cena po danu:</label>
                    <input type="text" class="form-control" formControlName='price'>
                </div>
                <br>
                <div >
                    <label for="options">Options:</label>
                    <input type="text" class="form-control" formControlName='options'>
                </div>
            </div>
            <button (click)="onAddBike()" class="btn btn-primary">Add <span class="glyphicon glyphicon-ok"></span></button>
        </form>
    </div>
</div>